{% extends "todolist/layout.html" %}
{% load i18n %}

{% block content %}

<form method="POST" action="{% url 'do_authentication' %}">
	<div class="row-fluid" id="login_div">

		<div class="text-center login_password_div">
				{% csrf_token %}
				<input type="password" name="password" class="login_password_input"
					{% if login_form.password.value %} 
						value="{{ login_form.password.value }}" 
					{% endif %}/>
		</div>

		<div class="text-center login_submit_div">
			<input type="submit" class="btn btn-warning login_submit_button" value="Login"/>
		</div>
	</div>
</form>

{% endblock %}

